<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" type="text/css" th:href="@{css/resetPasswordStyle.css}">
<script type="text/javascript" th:src="@{js/resetPasswordJS.js}"></script>
<head>
    <title>Reset</title>
</head>
<body>
<div id="container">
    <header id="header1">

    </header>
    <div id="content1">

        <div id="form_cont">
            <h1>Reset password</h1>
            <h3>Strong password includes *</h3>
            <form th:action="@{/resetPassword}" method="post" th:object="${resetP}">


                <label for="email" id="label_n">Enter new password</label>
                <div id="emailContainer2" class="passwordContainer1">
                    <div id="ema" class="pass1">
                        <input type="text" id="email" name="email" class="input_c" placeholder="email"
                               th:value="${email_attr}">
                    </div>


                </div>
                <br/>


                <label for="password2">Enter new password</label>
                <div id="passwordContainer" class="passwordContainer1">
                    <div id="pas" class="pass1">
                        <input type="password" id="password2" name="password2" class="input_c" placeholder="password"
                               th:field="*{password1}">
                    </div>

                    <div id="image" class="image1">
                        <img id="icon1" src="img/view.png" onclick="function1()" alt="show password icon"/>
                    </div>

                </div>
                <br/>

                <label for="password1">Confirm password</label>
                <div id="passwordContainer2" class="passwordContainer1">
                    <div id="pas2" class="pass1">
                        <input type="password" id="password1" name="password1" class="input_c" placeholder="password"
                               autofocus="autofocus" th:field="*{password2}"><br/><br/>
                    </div>

                    <div id="image2" class="image1">
                        <img id="icon2" src="img/view.png" onclick="function2()" alt="show password icon"/>
                    </div>
                </div>


                <button id="button1" name="button1">Reset</button>
            </form>
        </div>
    </div>
</div>
<footer id="footer1"></footer>
</body>
</html>