<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
    <title>Student Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<style>
#email{
display: none;
}


</style>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Posts</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->

</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Create New Post </h1>
            <div class="card-body">
                <form th:action="@{/insertPost}" th:object="${postC}" method="POST">
                    <div class="form-group">
                        <table>
                            <tr>
                                <td th:if="${#authentication.principal instanceof T(com.example.project.entity.AppUser)}">
                                    <input
                                            type="text"
                                            id="email"
                                            name="email"
                                            hidden="hidden"
                                            th:value="${#authentication.principal.email}"
                                            class="form-control"
                                            placeholder="Enter Content"
                                    />

                                </td>
                                <td th:if="${#authentication.principal instanceof T(org.springframework.security.oauth2.core.user.OAuth2User)}">
                                    <input
                                            type="text"
                                            id="email2"
                                            hidden="hidden"
                                            name="email"
                                            th:value="${#authentication.principal.getName()}"
                                            class="form-control"
                                            placeholder="Enter Content"
                                    />

                                </td>
                            </tr>
                        </table>
                        <label> Post content</label>
                        <input
                                type="text"
                                name="content"
                                th:field="*{content}"
                                class="form-control"
                                placeholder="Enter post content"
                                maxlength="250"
                        />


                    </div>


                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>