
#profile_img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 90%;
    cursor: pointer;
}

table{
table-layout: fixed;
        word-wrap: break-word;
}

#filters{
float: left;
margin-left: 5%;
margin-top: 2%;
}

#myPosts{
  width: 20%;
  height: 20%;
}

#label_myPosts{
font-size: 100%;
}

.arrow{
    width: 20px;

}

#anchor_posts{
    margin-left: 48%;
}

#arrow2{
    transform: rotate(180deg)
}
